.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 250px;
}

.team-member {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 65%;
    margin-bottom: 50px;
}

.member-photo {
    width: 150px;
    height: auto;
    border-radius: 30px;
    margin-top: 10px;
}

.member-info h2, .member-info p {
    margin-bottom: 10px;
}

.member-info p {
    line-height: 1.6;
    color: #aaa;
}

.member-info a {
    color: #4A90E2;
    text-decoration: none;
}

.member-info a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .team-member {
        flex-direction: row;
        justify-content: center; /* Ensures the contents are centered */
        text-align: left;
    }

    .member-photo {
        margin-right: 40px;
        width: 200px;
        margin-top: 0;
    }

    .member-info {
        max-width: 60%;
    }

    .team-container {
        align-items: center; /* Ensures team members are aligned in the center */
    }
}
