.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 230px;
  text-align: center;
  padding: 20px;
}

.error-container h1 {
  font-size: 4rem;
}

.error-container p {
  font-size: 1.5rem;
}

.error-container a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #fa8128;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.error-container a:hover {
  background-color: #b56727;
}
