.api-container {
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    /*margin-bottom: 100px;*/
    padding: 20px;
}

    .api-container h1 {
        font-size: 60px;
        color: transparent;
        -webkit-text-stroke: 1px white;
    }

    .api-container h2 {
        margin-top: 50px;
    }

    .api-container p, .api-container ul {
        /*text-align: justify;*/
        line-height: 1.6;
        margin-bottom: 20px;
        color: #aaa;
        font-family: Arial, sans-serif;
    }

    .api-container a {
        color: #4A90E2; /* Adjusted color for link text */
        text-decoration: none; /* Optional: removes underline from links */
    }

        .api-container a:hover {
            text-decoration: underline; /* Optional: adds underline on hover */
        }

    .api-container ul {
        list-style-type: disc;
        margin-left: -10px;
        margin-top: 0; /* Reduced space before list elements */
        padding-top: 0;
    }

@media (max-width: 768px) {
    .api-container {
        padding: 10px;
    }

        .api-container h1 {
            font-size: 48px; /* Adjust size for smaller screens */
            -webkit-text-stroke: 0.75px white; /* Adjust stroke for smaller text */
        }
}
