.footer {
    margin-top: 100px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: transparent;
}
