@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

.background {
    /*z-index: -10000;*/
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
    background: #656565;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777777;
}


.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navigation-bar + * {
  padding-top: 20px;
}

.content {
  flex: 1;
  padding: 20px;
}

@media (min-width: 768px) {
  .content {
    max-width: 960px;
    margin: auto;
  }
}
