.about-container {
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    /*margin-bottom: 100px;*/
    padding: 20px;
}

.about-container h1 {
    font-size: 80px;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.about-container h2 {
    margin-top: 50px;
}

.about-container p, .about-container ul {
    /*text-align: justify;*/
    line-height: 1.6;
    margin-bottom: 20px;
    color: #aaa;
    font-family: Arial, sans-serif;
}

.about-container a {
    color: #4A90E2; /* Adjusted color for link text */
    text-decoration: none; /* Optional: removes underline from links */
}

.about-container a:hover {
    text-decoration: underline; /* Optional: adds underline on hover */
}

.about-container ul {
    list-style-type: disc;
    margin-left: -10px;
    margin-top: 0; /* Reduced space before list elements */
    padding-top: 0;
}

@media (max-width: 768px) {
    .about-container {
        padding: 10px;
    }

    .about-container h1 {
        font-size: 48px; /* Adjust size for smaller screens */
        -webkit-text-stroke: 0.75px white; /* Adjust stroke for smaller text */
    }
}
