.faq-container {
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    color: #aaa;
}

.faq-container h1 {
    font-size: 80px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    text-align: center;
    margin-bottom: 50px;
}

.faq-card {
    background-color: rgba(80,80,80,0.4);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.faq-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.faq-card h2 {
    margin-top: 0;
    color: white;
}

.faq-card p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.faq-container a {
    color: #4A90E2;
    text-decoration: none;
}

.faq-container a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .faq-container {
        padding: 10px;
    }

    .faq-container h1 {
        font-size: 48px;
        -webkit-text-stroke: 0.75px white;
    }
}
