.feedback-container {
    text-align: center;
    max-width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 3px;
}

.feedback-hover-trigger {
    padding-top: 6px;
    color: white;
    transition: background-color 0.3s ease, transform 0.15s ease;
    font-weight: 500;
}

.feedback-hover-trigger:hover {
    transform: scale(1.02);
}

.feedback-area {
    display: flex;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 5px);
    transition: opacity 0.3s ease, visibility 0s linear 0.3s, transform 0.3s ease;
    border-radius: 15px;
    padding: 15px;
    background-color: rgba(0, 123, 255, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feedback-container:hover .feedback-area {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

.feedback-button {
    padding: 5px 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.15s ease;
    color: white;
    border-radius: 10px;
    margin-left: 5px;
}

.feedback-button.good, .feedback-button.bad {
    background-color: #28a745;
    transition: background-color 0.3s ease;
}

.feedback-button.good:hover {
    background-color: #25963e;
}

.feedback-button.bad {
    background-color: #dc3545;
}

.feedback-button.bad:hover {
    background-color: #b82e34;
}

.thank-you-message {
    padding-top: 6px;
    opacity: 0;
}

.fade-in {
    opacity: 1;
    transition: opacity 2s ease; /* Ensures a smooth transition to fully visible */
}
