@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    max-width: 1460px;
    margin: auto;
}

.content-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
}

.left-side p {
    font-size: 20px;
}

.left-side h1 {
    font-size: 40px;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.background-image {
    position: absolute;
    max-width: 800px;
    top: 380px;
    left: 950px;
    transform: scaleX(-1);
    z-index: -1;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 48%;
}

.right-side {
    margin-top: 40px;
    margin-right: -20px;
}

.left-side {
    font-weight: 100;
}

.detect-button {
    margin-top: 30px;
    padding: 5px 165px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    background-color: #fa8128;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    z-index: 1000;
    font-family: 'Source Code Pro', monospace;
}

    .detect-button:hover {
        background-color: #b56727;
        transform: translateY(2px);
    }

.scroll-down-indicator {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 150px;
}

    .scroll-down-indicator span {
        display: block;
        margin-bottom: 10px;
        color: #ffffff;
        animation: blink 1.5s infinite;
    }

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.scroll-down-indicator .line {
    width: 100px;
    height: 2px;
    background-color: #ffffff;
    margin: 0 auto;
    animation: expandLine 2s ease-out infinite;
}

.result-header {
    color: #fff;
    margin-top:70px;
    margin-left: 20px;
    font-size: 30px;
    margin-bottom: -20px;
}


@keyframes expandLine {
    0%, 100% {
        width: 50px;
    }

    50% {
        width: 150px;
    }
}
