.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 180px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

    .contact-form label {
        margin-bottom: 5px;
        color: #aaa;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ddd;
        resize: none;
    }

    .contact-form button {
        padding: 10px;
        background-color: #fa8128;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .contact-form button:hover {
            background-color: #b56727;
        }
